body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #fefefe;
  color: #000000;
}

.description {
  display: none;
  padding-left: 15px;
}

.title {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

.active + .description {
  display: block;
}

.even {
  background-color: rgb(223, 223, 223);
  transition: 0.3s;
}

.even:hover, .active.even {
  background-color: rgb(199, 198, 198);
  cursor: pointer;
}

.odd {
  background-color: rgb(255, 244, 198);
  transition: 0.3s;
}

.odd:hover, .active.odd {
  background-color: rgb(252, 224, 115);
  cursor: pointer;
}

.odd:after, .even:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: left;
  margin-right: 15px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

